.container {
    background-color: gainsboro;

    .heading {
        animation: slideIn 0.5s ease;
    }
}

// Heading Animation
@keyframes slideIn {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}